<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <% include ../partials/head.ejs %>
</head>
  <body>

    <h1>Beer Details</h1>
    <a href="/beers">Back to Beer Index Page</a>

    <h2>Name: <%=beer.name%></h2>
    <h3>Brewery: <%=beer.brewery%></h3>
    <img src="<%=beer.image%>" alt="">
    <h3>Description: <%=beer.description%></h3>
    <h3>Notes: <%=beer.notes%></h3>

    <a href="/beers/<%=beer.id%>/edit">Edit this Beer</a>
    <form action="/beers/<%=beer.id%>?_method=DELETE" method="POST" />
      <input type="submit" value="DELETE" class="button" />
    </form>

  </body>
</html>
